.word {
  text-align: center;
}

.title {
  max-width: 736px;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #2A2A38;
  margin: 170px auto 185px auto;
}

.line {
  max-width: 650px;
  border-bottom: 3px solid #C4C4C4;
  margin-bottom: 64px;
}

.letters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.card {
  margin: 0px 15px;
}

.button__row {
  max-width: 1068px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}