.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--letter-size);
  height: var(--letter-size);
  color: #6B5FF0;
  font-size: var(--web-ui_letter-font-size);
  line-height: 56px;
  text-transform: uppercase;
  border: 2px solid #6B5FF0;
  box-sizing: border-box;
  border-radius: var(--web-ui_letter-border-radius, 10px);
  cursor: grab;
  margin: 0px 15px;
}