.root {
  width: 100%;
  appearance: none;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  color: var(--accent-6);

  background-color: var(--primary);

  padding: 0.5rem 2.5rem 0.5rem 1.5rem;
  border-width: 1px;
  border-color: var(--accent-3);
  color: var(--accent-6);
}

.root:focus {
  box-shadow: 0 0 0 3px var(--web-ui_focus-color-gray);
  outline: 2px solid transparent;
  outline-offset: 2px;
}
